/* Toast.module.css */
.toast-container {
    @apply fixed top-0 ltr:right-0 rtl:left-0 cursor-default;
}

.toast {
    @apply absolute ltr:-right-[150%] rtl:-left-[150%] transition-all duration-500 ease-in-out sm:min-w-[80vh] lg:min-w-[500px] xl:min-w-[600px] max-w-[80vh] opacity-0 flex gap-2;}

.toast:hover svg[role="button"] {
    @apply opacity-100;
}

.toast:not(:hover) svg[role="button"] {
    @apply opacity-0;
}

.toast--visible {
    @apply ltr:right-4 rtl:left-4 opacity-100;
}

.toast-progress {
    @apply absolute left-1.5 bottom-1 max-w-[calc(100%-0.375rem*2)] h-1 bg-current rounded-full overflow-hidden;
    animation-name: shrink;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes shrink {
    from {
        opacity: 1;
        width: 100%;
    }
    to {
        opacity: 0.1;
        width: 0;
    }
}
