/* src/client/shared/components/TextField/TextField.module.css */
.text-field-container {
    @apply relative w-full;
}

.text-field {
    @apply h-10 bg-white text-lg py-1 px-2 rounded border-slate-500 border-2 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50 text-slate-900 w-full;

    transition: background-color ease-in-out 0.2s, border-color ease-in-out 0.2s, color ease-in-out 0.2s;
}

.text-field[data-has-error="true"] {
    @apply border-red-700 ring-red-600 ring-opacity-100 bg-red-50 text-red-700;
}

.text-field.with-clear {
    @apply ltr:pr-8 rtl:pl-8;
}

.text-field-clear {
    @apply absolute top-1/2 transform -translate-y-1/2 text-slate-400 hover:text-slate-600 cursor-pointer z-10 ltr:right-2 rtl:left-2;
    @apply ltr:right-2 rtl:left-2;
    display: flex;
    align-items: center;
    justify-content: center;
}